* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #141414;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #141414;
  position: sticky;
  top: 0;
  justify-content: space-between;
}

.header h1 {
  color: #e50914;
  margin-right: auto;
}

.header nav a {
  justify-content: center;
  color: #ffffff;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}


.header nav a:hover {
  text-decoration: underline;
}

.iconos a{
  margin-left: 20px;
  color: #ffffff;
  gap: 15px; 
}

.category, .category2{
  padding: 30px;
}

.category h2, .category2 h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.fila {
  display: flex;
  gap: 2px;
  overflow-x: hidden;
}

.category img {
  width: 180px;
  height: 100px;
}

.category2 img {
  width: 200px;
  height: 300px;
}